@font-face {
    font-family: 'upheavtt';
    src: url('../fonts/upheavtt.ttf') format('truetype');
}

*{
    margin: 0;
    font-weight: bolder;
    font-family: 'upheavtt', sans-serif;
}


main{
    background-color: #325bff33;
    height: 100vh;
}

.boll{
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 8px #000000;
}

#div-tela-final input[type="text"]{
    font-weight: bold;
}

.btn-primary{
    width: 100%;
    margin-top: 20px;
}

#tempo-pontos-div{
    margin-inline: 10vw;
}

#tempo-pontos-subdiv{
    box-shadow: 1px 1px 8px #000000;
    border-radius: 0 0 12px 12px;
    background-color: #325bff;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

#tela-final{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #325bff33;
}

#div-tela-final{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #325bff24;
}

#form-tela-final{
    background-color: #dae1ff9d;
}


a {
    display: none;
}